/* Universal Styles */
html {
  background-image: url("./themes/dark-forest-background-image-1920x1200.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #0d0d19;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: whitesmoke;
}

.button {
  background-color: #18181b; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}

.button1:hover {
  background-color: #555555;
  color: white;
}

.button:after {
    content: "";
    background: #0d0d19;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -31px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

a {
  font-size: 24px;
}

.options {
  display: grid;
  grid-template-areas: "button button button";
  padding: 10px 0px;
  margin: 0 10%;
  justify-content: space-around;
}

.inverted {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* 1/3rd to 2/3rd Screen*/
@media only screen and (min-width: 750px) and (max-width: 1300px) {
  .ten_spread {
    display: grid;
    justify-content: flex-start;
    justify-items: center;
    grid-template-areas:
      "cross spear"
      "card card";
  }
  .card {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* Full Screen */
@media only screen and (min-width: 1301px) {
  .ten_spread {
    display: grid;
    justify-content: flex-start;
    justify-items: center;
    grid-template-areas: "cross spear card";
  }
}

/* Larger Screens */
@media only screen and (min-width: 750px) {
  ul {
    font-size: 18px;
  }

  nav a {
    color: whitesmoke;
    padding: 0px 10px;
  }

  .three_spread {
    display: grid;
    justify-content: center;
    grid-template-areas: "card card card";
  }

  .ten_spread {
    display: grid;
    justify-content: flex-start;
    justify-items: center;
    grid-template-areas: "cross spear card";
  }

  .cross div {
    justify-self: center;
    align-items: center;
  }

  .cross img {
    margin: auto;
  }

  .cross {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      ". conscious ."
      "past situation future"
      ". unconscious .";
  }

  .spear {
    display: inline;
    margin: 0 15px;
  }

  .prompt {
    margin: 20px 0px;
  }

  .none {
    width: 85px;
    height: 150px;
  }
  .present {
    grid-row: 2;
    grid-column: 1;
  }
  .problem {
    grid-row: 2;
    grid-column: 1;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .past,
  .future,
  .conscious,
  .unconscious,
  .your_influence,
  .ext_influence,
  .hopes_and_fears,
  .outcome,
  .situation {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "position_title"
      "item";
    width: 150px;
    padding: 0 15px;
  }

  .situation {
    grid-template-areas:
      "position_title"
      "item1"
      "item2";
  }

  .position_title {
    justify-self: center;
    grid-row: 1;
  }

  .three_spread_card {
    display: grid;
    padding: 10px 15px;
    justify-content: center;
    grid-template-areas:
      "position-meaning"
      "card-image"
      "card-details";
  }

  .three_card_image {
    width: 170px;
    height: 300px;
  }

  .three_card_fortune_telling ul {
    font-size: 12px;
    padding-left: 0;
  }

  .position_title {
    font-size: 12px;
  }

  .card {
    display: grid;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    grid-template-areas: "card-image card-details";
  }

  .single_card {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    grid-template-areas: "card-image card-details";
  }

  .card-name {
    font-size: 32px;
  }

  .ten_card_image {
    width: 85px;
    height: 150px;
    padding: 10px;
  }

  .keywords {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;
  }

  .meaning ul {
    font-size: 16px;
    padding-left: 20px;
  }

  ul {
    margin: 10px 0px;
  }

  .label {
    font-size: 18px;
  }

  .focused-card-image {
    height: 360px;
    width: 210px;
  }

  .card-details {
    align-self: center;
    border-radius: 16px;
    padding: 10px;
    width: 350px;
    background-color: rgba(100, 100, 100, 0.3);
  }

  .three_card_details {
    width: 170px;
    height: 250px;
  }
}

/* 1/4th to 1/3rd screen */
@media only screen and (min-width: 550px) and (max-width: 749px) {
  html {
    background-image: none;
    background-color: black;
  }

  body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: whitesmoke;
  }

  ul {
    font-size: 12px;
  }

  .active {
    font-weight: 700;
  }

  nav a {
    color: whitesmoke;
    display: flex;
  }

  .prompt {
    margin: 20px 0px;
  }

  .single_card {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px 0px;
    grid-template-areas:
      "card-image"
      "card-details";
  }

  .card-image {
    justify-items: center;
    height: 500px;
  }

  .position_title {
    font-size: 12px;
    justify-self: center;
  }

  .three_spread {
    padding-top: 20px;
  }

  .three_card_image {
    width: 170px;
    height: 300px;
    margin: 5px 0px;
  }

  .three_spread_card {
    display: grid;
    padding: 10px 15px;
    justify-items: center;
    grid-template-areas:
      "position-meaning"
      "card-image"
      "card-details";
  }

  .three_card_fortune_telling ul li {
    font-size: 12px;
    padding-left: 0;
  }

  .ten_card_image {
    justify-items: center;
    height: 150px;
    margin: 10px;
  }

  .ten_spread {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
      "cross"
      "spear"
      "card";
  }

  .present {
    grid-row: 2;
    grid-column: 1;
  }
  .problem {
    grid-row: 2;
    grid-column: 1;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .cross {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      ". conscious ."
      "past situation future"
      ". unconscious .";
  }

  .spear {
    display: inline;
    margin: 10px 15px;
  }

  .past,
  .future,
  .conscious,
  .unconscious,
  .your_influence,
  .ext_influence,
  .hopes_and_fears,
  .outcome,
  .situation {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "position_title"
      "item";
    width: 150px;
    padding: 0 15px;
  }

  .situation {
    grid-template-areas:
      "position_title"
      "item1"
      "item2";
  }

  .card {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px 0px;
    grid-template-areas: "card-image card-details";
  }

  .focused-card-image {
    height: 360px;
    width: 210px;
  }

  .card-details {
    align-self: center;
    border-radius: 16px;
    padding: 10px;
    width: 350px;
    background-color: rgba(100, 100, 100, 0.3);
  }
}

/* Mobile */
@media only screen and (max-width: 549px) {
  html {
    background-image: none;
    background-color: black;
  }

  body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: whitesmoke;
  }

  .present {
    grid-row: 2;
    grid-column: 1;
  }
  .problem {
    grid-row: 2;
    grid-column: 1;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .cross div {
    justify-self: center;
    align-items: center;
  }

  .cross img {
    margin: auto;
  }

  .cross {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "conscious"
      "past"
      "situation"
      "future"
      "unconscious";
  }

  .none {
    display: none;
  }

  .position_title {
    font-size: 12px;
  }

  .past,
  .future,
  .conscious,
  .unconscious,
  .your_influence,
  .ext_influence,
  .hopes_and_fears,
  .outcome {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "position_title"
      "item";

    margin: 15px;
  }

  .situation {
    display: grid;
    grid-template-areas:
      "position_title"
      "item1"
      "item2";
  }

  ul {
    font-size: 12px;
  }

  .active {
    font-weight: 700;
  }

  nav a {
    color: whitesmoke;
    display: flex;
  }

  .prompt {
    margin: 20px 0px;
  }

  .ten_spread {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
      "cross"
      "spear"
      "card";
  }

  .cross,
  .spear {
    margin: 10px;
  }

  .ten_card_image {
    justify-items: center;
    height: 150px;
    margin: 10px 10px;
  }

  .card {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px 0px;
    grid-template-areas:
      "card-image"
      "card-details";
  }

  .card-image {
    justify-items: center;
    height: 400px;
  }

  .single_card {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px 0px;
    grid-template-areas:
      "card-image"
      "card-details";
  }

  .card-name {
    font-size: 14px;
  }

  .label {
    font-size: 14px;
  }

  .keywords {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .three_spread {
    padding-top: 20px;
  }

  .three_card_image {
    width: 170px;
    height: 300px;
    margin: 5px 0px;
  }

  .three_spread_card {
    display: grid;
    padding: 10px 15px;
    justify-items: center;
    grid-template-areas:
      "position-meaning"
      "card-image"
      "card-details";
  }

  .three_card_fortune_telling ul li {
    font-size: 12px;
    padding-left: 0;
  }

  .focused-card-image {
    height: 360px;
    width: 210px;
  }

  .focused-card-image {
    height: 360px;
    width: 210px;
  }

  .card-details {
    align-self: center;
    border-radius: 16px;
    padding: 10px;
    width: 250px;
    background-color: rgba(100, 100, 100, 0.3);
  }

  .situation {
    columns: 1;
  }

  /* .none {
        display: none;
    } */
}
