/* TODO Add site wide styles */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    background-image: url('./themes/dark-forest-background-image-1920x1200.jpg');
}

@media only screen and (min-width: 800px){

    ul {
        font-size: 18px;
    }

    .active {
        font-weight: 700;
    }

    nav a {
        color: whitesmoke;
        padding: 0px 10px;
    }

    .prompt {
        margin: 20px 0px;
    }

    .card {
        display: grid;
        padding: 10px 0px;
        justify-content: center;
        grid-template-areas:
        'card-image card-details';
    }

    .card-name {
        font-size: 32px;
    }

    .label {
        font-size: 24px;
    }

    .keywords {
        font-size: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .card-details {
        align-self: center;
        padding: 10px;
        background-color: rgba(100, 100, 100, .3);
    }

    .options {
        justify-content: center;
    }
}

@media only screen and (max-width: 799px){
    ul {
        font-size: 18px;
    }

    .active {
        font-weight: 700;
    }

    nav a {
        color: whitesmoke;
        display: flex;
    }

    .prompt {
        margin: 20px 0px;
    }

    .card {
        display: grid;
        justify-content: center;
        padding: 10px 0px;
        grid-template-areas:
        'card-image'
        'card-details';
    }

    .card-name {
        font-size: 32px;
    }

    .label {
        font-size: 24px;
    }

    .keywords {
        font-size: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .card-image {
        width: 250px;
        height: 500px;
    }

    .card-details {
        align-self: center;
        padding-left: 10px;
        padding-right: 0px;
        background-color: rgba(100, 100, 100, .3);
        width: 240px;
    }

    .options {
        justify-content: center;
    }
}
