/* TODO Add site wide styles */
html {
    background-image: url('./themes/dark-forest-background-image-1920x1200.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

.button {
    background-color: #18181b; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1:hover {
    background-color: #555555;
    color: white;
  }

  a {
      font-size: 24px;
  }

  .active {


  }

@media only screen and (min-width: 768px){

    ul {
        font-size: 18px;
    }


    .hidden {
        display: none;
    }

    .options {
        padding: 10px;
    }

    nav a {
        color: whitesmoke;
        padding: 0px 10px;
    }

    .three_spread {
        display: grid;
        justify-content: center;
        grid-template-areas:
        'card card card';
    }

    .ten_spread {
        display: grid;
        justify-content: flex-start;
        justify-items: center;
        grid-template-areas:
        'cross spear card';
    }

    .cross div {
        justify-self: center;
        align-items: center;
    }

    .cross img {
        margin: auto;
    }

    .cross {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas:
        '. conscious .'
        'past situation future'
        '. unconscious .';
    }

    .spear {
        display: inline;
        margin: 0 15px;
    }

    .prompt {
        margin: 20px 0px;
    }

    .none {
        width: 85px;
        height: 150px;
    }
    .present {
        grid-row: 2;
        grid-column: 1;
    }
    .problem {
        grid-row: 2;
        grid-column: 1;
        -webkit-transform:rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .past,
    .future,
    .conscious,
    .unconscious,
    .your_influence,
    .ext_influence,
    .hopes_and_fears,
    .outcome,

    .situation {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas:
        'position_title'
        'item';
        width: 150px;
        padding: 0 15px;
    }

    .situation {
        grid-template-areas:
        'position_title'
        'item1'
        'item2';
    }

    .position_title {
        justify-self: center;
        grid-row: 1;
    }

    .three_spread_card {
        display: grid;
        padding: 10px 15px;
        justify-content: center;
        grid-template-areas:
        'position-meaning'
        'card-image'
        'card-details';
    }

    .position_title {
        font-size: 12px;
    }

    .focused-card-image {
        height: 360px;
        width: 210px;
    }

    .card {
        display: grid;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        grid-template-areas:
        'card-image card-details';
    }

    .card-name {
        font-size: 32px;
    }

    .three_card_name {

    }

    .ten_card_image {
        width: 85px;
        height: 150px;
        padding: 10px;
    }

    .keywords {
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 350px;
    }

    .three_card_keywords {
        /* width: 170px; */
    }

    .three_card_image {
        width: 170px;
        height: 300px;
    }

    .three_card_fortune_telling ul {
        font-size: 12px;
        padding-left: 0;
    }

    .meaning ul {
        font-size: 16px;
        padding-left: 20px;
    }

    ul {
        margin: 10px 0px;
    }

    .label {
        font-size: 18px;
    }

    .card-details {
        align-self: center;
        border-radius: 16px;
        padding: 10px;
        background-color: rgba(100, 100, 100, .3);
    }

    .three_card_details {
        width: 170px;
        height: 250px;
    }

    .options {
        justify-content: center;
    }
}

@media only screen and (max-width: 767px){

    html {
        background-image: none;
        background-color: black;
    }

    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: whitesmoke;
    }

    ul {
        font-size: 12px;
    }

    .active {
        font-weight: 700;
    }

    .options {
        padding: 10px;
    }

    nav a {
        color: whitesmoke;
        display: flex;
    }

    .prompt {
        margin: 20px 0px;
    }

    .ten_spread {
        display: grid;
        justify-content: flex-start;
        justify-items: center;
        grid-template-areas:
        'cross spear'
        'card';
    }

    .ten_card_image {
        width: 85px;
        height: 150px;
        padding: 10px;
    }

    .card {
        display: grid;
        justify-content: center;
        padding: 10px 0px;
        grid-template-areas:
        'card-image'
        'card-details';
    }

    .card-name {
        font-size: 14px;
    }

    .label {
        font-size: 14px;
    }

    .keywords {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .three_spread {
        padding-top: 20px;
    }

    .three_card_keywords {
        /* width: 170px; */
    }

    .three_card_image {
        width: 170px;
        height: 300px;
    }

    .three_spread_card {
        display: grid;
        padding: 10px 15px;
        justify-items: center;
        grid-template-areas:
        'position-meaning'
        'card-image'
        'card-details';
    }

    .three_card_fortune_telling ul li {
        font-size: 12px;
        padding-left: 0;
    }

    .focused-card-image {
        height: 360px;
        width: 210px;
    }

    .card-image {
        width: 170px;
        height: 250px;
    }

    .card-details {
        margin-top: 10px;
        padding-top: 10px;
        align-self: center;
        padding-left: 10px;
        padding-right: 0px;
        background-color: rgba(100, 100, 100, .3);
        width: 170px;
    }

    .options {
        justify-content: center;
    }
}
